.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 120px;
  background-color: #f2f4f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}

.active {
  text-decoration: none;
  color: #0b44cd;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.link {
  text-decoration: none;
  color: #101828;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #3470ff;
}

/* =================== */
/* 📲 Планшети */
/* =================== */
@media (max-width: 1023px) {
  .header {
    padding: 20px 40px;
  }

  .nav {
    gap: 24px;
  }
}

/* =================== */
/* 📱 Мобільні */
/* =================== */
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  .active,
  .link {
    font-size: 14px;
  }
}
