.container {
  padding: 32px 120px;
}

.gridContainer {
  min-height: 100px; /* Забезпечуємо мінімальну висоту, щоб уникнути коливань */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 48px;
  justify-items: center;
  margin-top: 2rem;
}

.loading,
.error {
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem 0;
}

.error {
  color: #e74c3c;
}

.loadMoreButton {
  display: block;
  margin: 80px auto auto;
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px 38px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
}

.loadMoreButton:hover {
  border: 1px solid #0b44cd;
}
