.container {
  padding: 84px 0;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.leftColumn {
  flex: 1;
  margin-right: 84px;
}

.image {
  border-radius: 19px;
  width: 640px;
  height: 512px;
  object-fit: cover;
  margin-bottom: 40px;
}

.rightColumn {
  flex: 1;
  max-width: 488px;
}

.carTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 8px;
  margin-top: 20px;
}

.carId {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  margin-bottom: 8px;
}

.location {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #101828;
}

.icon {
  stroke: #101828;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.carMileage {
  color: #101828;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.carPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-bottom: 32px;
}

.carDescription {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 60px;
}

.carListWrapContainer {
  display: flex;
  flex-direction: column;
  gap: 87px;
}

.carSubtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 20px;
}

.carListItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.carListItem:last-child {
  margin-bottom: 0;
}

.error {
  color: #ff0000;
  text-align: center;
  padding: 2rem;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
  .leftColumn,
  .rightColumn {
    flex: 0 0 50%;
  }
}
