.rightColumn {
  max-width: 488px;
}

.carInfo {
  display: flex;
  flex-direction: column;
}

.carTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 8px;
}

.carId {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  margin-bottom: 8px;
}

.location {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #101828;
}

.icon {
  stroke: #101828;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.carMileage {
  color: #101828;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.carPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-bottom: 32px;
}

.carDescription {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 60px;
}

.carListWrapContainer {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.carSubtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 20px;
}

.carListItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.carListItem:last-child {
  margin-bottom: 0;
}

/* =================== */
/* 📲 Планшети */
/* =================== */
@media (max-width: 1023px) {
  .rightColumn {
    max-width: 100%;
  }

  .carListWrapContainer {
    gap: 60px;
  }

  .carDescription {
    margin-bottom: 40px;
  }

  .carPrice {
    margin-bottom: 24px;
  }
}

/* =================== */
/* 📱 Мобільні */
/* =================== */
@media (max-width: 767px) {
  .carTitle {
    font-size: 20px;
  }

  .carId {
    font-size: 14px;
  }

  .carPrice {
    font-size: 32px;
  }

  .carDescription {
    font-size: 14px;
    margin-bottom: 32px;
  }

  .carSubtitle {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .carListItem {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .carMileage {
    margin-left: 0;
    font-size: 14px;
  }

  .carListWrapContainer {
    gap: 30px;
  }

  .location {
    font-size: 14px;
  }

  .icon {
    width: 14px;
    height: 14px;
  }
}
