.formSection {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: auto;
}

.formSection h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.formSection p {
  font-size: 14px;
  color: #666;
  margin-bottom: 24px;
}

.rentalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input,
.textarea {
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background: #f7f7f7;
  border: none;
  font-size: 14px;
}

.textarea {
  height: 100px;
  resize: none;
}

.input:focus,
.textarea:focus {
  outline: none;
  background-color: #ececec;
}

.error {
  color: #ff0000;
  font-size: 12px;
  margin-top: 0.25rem;
}

.rentalButton {
  display: block;
  margin: 8px auto 0;
  border-radius: 8px;
  padding: 12px 58px;
  background: #3470ff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: fit-content;
}

.rentalButton:hover {
  background: #2959c4;
}
