.filter {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
}

.buttons {
  display: flex;
  gap: 8px;
}

.searchButton,
.clearButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: #3470ff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.clearButton {
  background-color: transparent;
  color: #2959c4;
  border: 2px solid #dad6d6;
}

.searchButton:hover {
  background: #2959c4;
}

.clearButton:hover {
  background: #f7f7f7;
}

/* 💻 Планшети */
@media (max-width: 1023px) {
  .filter {
    padding: 1.5rem;
    gap: 0.75rem;
  }

  .searchButton,
  .clearButton {
    width: 140px;
    padding: 10px 20px;
    font-size: 15px;
  }

  .buttons {
    justify-content: center;
  }
}

/* 📱 Мобільні екрани */
@media (max-width: 767px) {
  .filter {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .buttons {
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .searchButton,
  .clearButton {
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
  }
}
