.filter {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
}

.mileage {
  display: flex;
  gap: 0;
  color: #101828;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.inputFrom {
  background: #f7f7f7;
  border: none;
  border-right: 1px solid #dadde1;
  border-radius: 12px 0 0 12px;
  width: 160px;
  height: 44px;
  padding: 12px 16px;
  /* font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828; */
}

.inputTo {
  outline: none;
  background: #f7f7f7;
  border: none;
  border-radius: 0 12px 12px 0;
  width: 160px;
  height: 44px;
  padding: 12px 16px;
  /* font-weight: 500;
  font-size: 16px;
  line-height: 1.25; */
}

.inputFrom:focus,
.inputTo:focus,
.inputFrom:active,
.inputTo:active {
  outline: none;
  border: none;
  background-color: #f7f7f7;
}

.inputFrom:focus {
  border-right: 1px solid #dadde1;
}

.buttons {
  display: flex;
  gap: 8px;
}

.searchButton,
.clearButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: #3470ff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.clearButton {
  background-color: transparent;
  color: #2959c4; /* Синій текст */
  border: 2px solid #dad6d6; /* Сіра рамка */
}

.searchButton:hover {
  background: #2959c4;
}

.clearButton:hover {
  background: #f7f7f7;
}

.icon {
  fill: #101828;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

/* Це для правильної взаємодії з існуючими стилями */
.reactSelect {
  width: 100%;
}
