.inlineGroup {
  display: inline-flex; /* гарантує, що і текст, і іконка будуть разом */
  align-items: center;
  white-space: nowrap; /* забороняє перенос всередині */
}

.card {
  width: 300px;
  padding: 10px;
  border-radius: 14px;
  overflow: hidden;
  border: none;
  position: relative;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  scale: 1.02;
  transform: translateY(-10px);
}

.image {
  width: 100%;
  height: 268px;
  object-fit: cover;
  border-radius: 14px;
}

.info {
  padding: 14px 0 0 0;
  height: 156px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.model {
  color: #3470ff;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.details {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
  margin-bottom: 1rem;
}

.details p {
  display: flex;
  align-items: center;
  margin: auto 0 0;
  font-weight: 400;
  font-size: 12px;
  color: #8d929a;
  flex-wrap: wrap;
  word-break: break-word; /* дозволяє перенос і розриватися посередині слова */
}

.separator {
  color: #dadde1;
  font-size: 16px;
  padding: 0 4px;
}

.favoriteButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.iconTransparent {
  fill: #fff;
}

.learnMoreButton {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  display: block;
  text-align: center;
  background-color: #3470ff;
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  padding: 12px 90px;
  transition: background-color 0.3s ease;
  margin-top: auto;
  margin-bottom: 1px;
}

.learnMoreButton:hover {
  background-color: #2959c4;
}

.separatorIcon {
  vertical-align: middle;
  fill: currentColor;
}
