.card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #2c3e50;
}

.model {
  color: #3470ff;
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2c3e50;
}

.details {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #8d929a;
  margin-bottom: 1rem;
}

.details p {
  margin: 0;
}

.favoriteButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.learnMoreButton {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  display: block;
  text-align: center;
  background-color: #3470ff;
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  padding: 12px 90px;
  transition: background-color 0.3s ease;
}

.learnMoreButton:hover {
  background-color: #2959c4;
}
