.card {
  width: 276px;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  border: none;
  position: relative;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
  scale: 1.02;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
}

.info {
  padding: 16px 5px 0;
  height: 156px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.model {
  color: #3470ff;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.details {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
  margin-bottom: 1rem;
}

.details p {
  margin: 0;
}

.favoriteButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.iconTransparent {
  fill: #fff;
}

.learnMoreButton {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  display: block;
  text-align: center;
  background-color: #3470ff;
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  padding: 12px 90px;
  transition: background-color 0.3s ease;
  margin-top: auto;
  margin-bottom: 5px;
}

.learnMoreButton:hover {
  background-color: #2959c4;
}
